table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#2a2b38;}

th {
  background-color: #2a2b38;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.h2{
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  
}

.btn:hover {
  background-color: #2a2b38;
  color: #fff;
  border-color: #000000;
}

button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2a2b38;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-right: 20px;
}

.button:hover {background-color: #000000}

.button:active {
  background-color: #2a2b38;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}